<h2>List of users:</h2>
<table class="table table-striped">
    <thead>
        <th> Name </th>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users">
            <td> {{ user.firstName }} </td>
            <td> {{ user.lastName }} </td>
            <td> {{ user.username }} </td>
            <td> {{ user.phone }} </td>
            <td> {{ user.description }} </td>
        </tr>
    </tbody>
    <!-- <a routerLink="../tag-create" routerLinkActive="active" class = "nav-link">+ tag</a> -->
</table>