<h3> User Details: </h3>
<div>
    <div> 
        <label> <b> Name: </b> </label> {{user.firstName}}
    </div>
    <div> 
        <label> <b> Surname: </b> </label> {{user.lastName}}
    </div>
    <div> 
        <label> <b> Phone: </b> </label> {{user.phone}}
    </div>
    <div> 
        <label> <b> Description: </b> </label> {{user.description}}
    </div>
</div>
<div>
    <h2>List of recipes:</h2>
    <table class="table table-striped">
        <thead>
            <th> Title </th>
            <th> likeB </th>
            <th> dislikeB </th>
            <th> Kcal </th>
            <th> Time </th>
        </thead>
        <tbody>
            <tr *ngFor = "let recipe of recipes">
                <td> {{ recipe.name }} </td>
                <td> {{ recipe.likeB }} </td>
                <td> {{ recipe.dislikeB }} </td>
                <td> {{ recipe.kcal }} </td>
                <td> {{ recipe.time }} </td>
            </tr>
        </tbody>
    </table>
</div>