<div class="content">
    <h2>List of units:</h2>
    <table>
        <thead>
            <th> Name </th>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor = "let unit of units">
                <td> {{ unit.name }} </td>
                <td>
                    <button (click) = "unitDelete(unit)"> <i class="fas fa-trash"></i></button>
                </td>

            </tr>
        </tbody>
        <div class="tag-add-form">
            <form (ngSubmit) = "addUnit()">
                <div class="form-group">
                    <label> Name: </label>
                    <input type="text" class="form-control" id = "name"
                        [(ngModel)] = "unit.name" name = "name"> 
                </div>
                <button class = "button-add" type="submit">Add</button>
            </form>
        </div>
    </table>
</div>
