<mat-toolbar class="app-navbar" color="primary">
  <button mat-button mat-ripple routerLink="/">
    <img alt="logo" class="app-angular-logo" src="assets/image/logo.svg">
    <span>Make Eat Better</span>
  </button>


  <div class="right">
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">

      <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/signup">
        <span>Sign up</span>
      </button>
      <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/login">
        <span>Login</span>
      </button>

      <button
        *ngIf="hasSignedIn()"
        [matMenuTriggerFor]="accountMenu"
        class="greeting-button" mat-button
        mat-ripple>
        <span>Hi, {{userName()}}</span>
      </button>
      <button
        *ngIf="hasSignedIn()"
        [matMenuTriggerFor]="accountMenu"
        class="greeting-hamburger" mat-icon-button
        mat-ripple>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #accountMenu
                [overlapTrigger]="false"
                class="app-header-accountMenu"
                yposition="below">
        <app-account-menu></app-account-menu>
      </mat-menu>


      <button
      *ngIf="isAdmin()"
      [matMenuTriggerFor]="adminMenu"
      class="greeting-button" mat-button
      mat-ripple>
      <span>ADMIN</span>
    </button>
    <button
      *ngIf="isAdmin()"
      [matMenuTriggerFor]="adminMenu"
      class="greeting-hamburger" mat-icon-button
      mat-ripple>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #adminMenu
              [overlapTrigger]="false"
              class="app-header-adminMenu"
              yposition="below">
      <app-admin-menu></app-admin-menu>
    </mat-menu>

    </div>
  </div>
</mat-toolbar>

