<div class="content" fxLayout="row" fxLayoutAlign="center">

    <h1 class="title">{{recipe.name}}</h1>
    <div class="social"> 
        <em class="fas fa-fire"> {{recipe.kcal}} </em>
        <em class="fas fa-stopwatch"> {{recipe.time}} </em>
        <em class="fas fa-heart" (click)="addLike()"> {{recipe.likeB}}</em>
        <em class="fas fa-minus-square" (click)="addDislike()"> {{recipe.dislikeB}} </em> 
    </div>

    <img class="recipe-image" src="assets/image/{{recipe.image}}">

    <div class="description"> 
        <label> <b> Description: </b> </label> 
        <p> {{recipe.description}} </p>
    </div>

    <div class="ingredients">
        <th><h4>INGREDIENTS:</h4></th>
        <tr *ngFor = "let ingredient of recipe.ingredients">
            <td class="ing-td"> {{ ingredient.name }} </td>
            <td class="ing-td"> {{ ingredient.count}} </td>
            <td class="ing-td"> {{ ingredient.unit }} </td>
        </tr>
    </div>

    <div class="tags">
        <th><h4>TAGS</h4></th>
        <tr *ngFor = "let tag of recipe.tags">
            <td> {{ tag.name }} </td>
        </tr>
    </div>

    <iframe class="recipe-yt" [src]="urlSafe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       

</div>