<h2>List of recipes:</h2>
<table class="table table-striped">
    <thead>
        <th> Title </th>
        <th> likeB </th>
        <th> dislikeB </th>
        <th> Kcal </th>
        <th> Time </th>
    </thead>
    <tbody>
        <tr *ngFor = "let recipe of recipes">
            <td> {{ recipe.name }} </td>
            <td> {{ recipe.likeB }} </td>
            <td> {{ recipe.dislikeB }} </td>
            <td> {{ recipe.kcal }} </td>
            <td> {{ recipe.time }} </td>
            <td>
                <button (click) = "recipeView(recipe.id)" class = "btn btn-info"> View </button>
                <button (click) = "recipeUpdate(recipe.id)" class = "btn btn-warning"> Update </button>
                <button (click) = "recipeDelete(recipe.id)" class = "btn btn-danger"> Delete </button>
            </td>
        </tr>
    </tbody>
</table>