<div class="recipe-list">

    <h2>Recipes:</h2>
    <section class="recipes">
        <tr *ngFor="let recipe of recipes">
            <div id= {{ recipe.getId() }}>
                <img src= {{ recipe.getImage() }}>
                <div>
                    <h2> {{ recipe.title }} </h2>
                    <p> {{ recipe.description }} </p>
                    <div class="info-section">
                        <i class="fas fa-fire"> {{ recipe.kcal }} </i>
                        <i class="fas fa-stopwatch"> {{ recipe.time }} </i>
                    </div>
                    <div class="social-section">
                        <i class="fas fa-heart"> {{ recipe.likeB }} </i>
                        <i class="fas fa-minus-square"> {{ recipe.dislikeB }} </i>
                    </div>
                </div>
            </div>
        </tr>
    </section>

</div>

<template id="project-template">
    <div id="">
        <img src="">
        <div>
            <h2>title</h2>
            <p>description</p>
            <div class="info-section">
                <i class="fas fa-fire"> 0</i>
                <i class="fas fa-stopwatch"> 0</i>
            </div>
            <div class="social-section">
                <i class="fas fa-heart"> 0</i>
                <i class="fas fa-minus-square"> 0</i>
            </div>
        </div>
    </div>
</template>

